.container-fluid{
 padding-left: 25px !important;
 padding-right: 15px !important;
}
#nav {
	min-height: 65px;
	line-height: 65px;
	height: auto;
	margin-bottom: 2.5%;
}
.navbar{
	background-color: #E0EAF0 !important;
}
.navbar-brand{
	margin-left: 30px;
	padding-left: 20px;
}
.navbar-brand img{
	height: 65px;
	padding: 7px;
}
.navbar-collapse.collapsing ul li{
    justify-content: left !important;
}
.navbar-collapse.collapse.show ul li {
    justify-content: left !important;
}
#navbarNav ul {
    display: flex;
    justify-content: flex-end; 
    width: 70%;
    padding-left: 0; 
    padding-right: 0; 
    margin: 0; 
}
#navbarNav ul li {
    flex: 1;
    display: flex;
    justify-content: center; 
}
#navbarNav ul li a{
	color: #307BA8 !important;
	font-weight: 550;
	text-align: center; 
    padding: 0 15px; 
    line-height: 40px; 
}
#navbarNav ul li a:hover{
	color: #000000 !important;
}
#navbarNav ul li.menu:last-child {
    padding-right: 0px !important; 
	margin-right: -10px;
} 
.menu{
	min-width: fit-content; 
	padding-left:35px;
	padding-right:35px;
}
#welcome {
	min-height: 70px;
	height: auto;
	background: linear-gradient(to right, #80c4e2, #a0d0e9);
    padding: 20px;
	padding-bottom: 5px;
	color: #ffffff;
}
#ntmy {
	min-height: 70px;
	height: auto;
	margin-top: 1%;
	margin-bottom: 2%;
}
.message {
	height: 70px;
}
.message p {
	line-height: 70px;
	font-size: 33px;
	font-family: Impact, sans-serif;
	text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.carousel-inner img {
    object-fit: cover;
	border-radius: 10px;
	min-height: 180px;
}
.carousel-control-prev {
    width: 9% !important;
}
.carousel-control-next {
    width: 9% !important;
}
#container {
	min-height: 250px;
	height: auto;
	background: linear-gradient(to right, #80c4e2, #a0d0e9);
    padding: 20px;
	padding-bottom: 40px;
}
#slider {
	height: auto;
	margin-top: 3.1%;
	margin-bottom: 3.1%;
}
#slider-image {
	height: auto;
	max-height: 500px;
	align-content: center;
}
.box {
	height: auto;
	border-style: solid;
	border-radius: 10px;
	border-color: #0288d1;
	border-width: 2px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box p {
	padding: 17px;
	margin-bottom: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #313131;
    font-size: 16px;
    line-height: 1.7;
}
#about-container {
	min-height: 300px;
	height: auto;
}
#about-slider {
	height: auto;
	margin-top: 2.7%;
	margin-bottom: 2%;
}
#about-video {
	min-height: min-content;
	height: auto;
}
.about-box {
    height: auto;
    border-style: solid ;
    border-width: 1px;
    border-color: #307BA8;
    border-radius: 10px;
    margin: 6px;
	padding: 7px;
	align-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.about-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	background-color: #f7fbff;  

}
.about-box p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 2px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	color: #303030;
	font-size: 16px;
	line-height: 1.7; 
}
.about-box img {
	height: auto;
	width: 100%;
	padding: 10px;
	border-radius: 18px; 
}
.about-video-box {
	height: min-content;
	width: min-content;
	border-style: solid;
	border-radius: 7px;
	border-color: #307BA8;
	border-width: 2px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px !important;
}
.about-video-box iframe{
	max-height: 315px;
	max-width: 560px;
	height: auto;
  	width: 100%;
  	aspect-ratio: 16 / 9;
}
#about-quote {
    margin-top: 1.1%;
    text-align: center;
    font-size: 1.4em;
    color: #30465b;
	font-family: 'Georgia', serif;
}
#resume-container {
    min-height: 400px;
    height: auto;
    background: linear-gradient(to right, #88bdd9, #e0eff2);
    padding: 30px;
	padding-bottom: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#resume-slider {
	min-height: 350px;
	height: auto;
	margin-bottom: 0.5%;
}
#resume-slider-image {
	height: 450px;
	background-image: url("image/lotr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #E0EAF0;
	border-radius: 7px;
}
.resume-box {
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #0288d1;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
	padding-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.resume-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.resume-box p, .resume-box ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
.resume-box h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0288d1;
    border-bottom: 2px solid #0288d1;
    margin-bottom: 15px;
}
.resume-box p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
	margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial;
    color: #333;
}
.resume-box ul {
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
	margin-bottom: 10px;
    list-style-type: disc;
}
.resume-box ul li {
    margin-bottom: 10px;
}
#resume-quote {
    margin-top: 20px;
	margin-bottom: 1.8%;
    text-align: center;
    font-size: 1.4em;
    color: #30465b;
	font-family: 'Georgia', serif;
}
#contact-container {
	min-height: 285px;
	height: auto;
	margin-bottom: 2.5%;
	padding: 5px 0;
}
#contact-slider {
	min-height: 300px;
	margin-bottom: 1.5%;
	margin-top: 20px;
    text-align: center;
}
#contact-slider img{
	height: 300px;
	border-radius: 6px;
}
.contact-box {
	height: auto;
    padding: 20px;
	padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.contact-box p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	font-size: 16px;
	font-family: verdana;
}
.contact-box form .form-label {
    font-weight: bold;
    color: #333333;
	float: left;
}
.contact-box form .form-control {
    border-radius: 5px;
    border: 1px solid #dddddd;
}
.contact-box form .form-text {
    margin-bottom: 19px !important;
}
.contact-box form .btn {
    min-width: 7.8%;
	width: auto;
    padding: 7px;
    border-radius: 5px;
	margin-top: 10px;
}
#contact-info {
    margin: 20px 0;
    text-align: center;
    font-size: 1.3em;
    color: #474747;
}
.footer-space {
	height: 68px;
	min-height: 55px;
}
#footer {
	position: fixed;
	bottom: 0px;
	height: 70px;
	width: 101%;
	min-height: 70px;
	background-color: #1066a8;
}	
.footer-message {
	height: 70px;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: #FFFFFF;
	line-height: 70px;
}		
	